# IDE
**/.idea/
IlluminatedCloud/

# SFDX
.sf/
.sfdx/

# Dependencies
**/node_modules/
**/package-lock.json

# Build
**/build/
**/dist/

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log

# Added by Illuminated Cloud
.localdev/
/out/
target/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
