# IDE
**/.idea/

# SFDX
.sfdx/
.sf/
.localdevserver
**/staticresources/

# Dependencies
**/node_modules/
**/package-lock.json

# Build
**/build/
**/dist/

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log

# Invalid formatting
src/site-permissions/profiles/BotPublic Profile.profile-meta.xml
