# IDE
**/.idea/

# SFDX
.sfdx/
.sf/
.localdevserver
**/staticresources/

# Dependencies
**/node_modules/
**/package-lock.json

# Build
**/build/
**/dist/

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log

# Invalid formatting in <flow> element
src/site-permissions/profiles/BotPublic Profile.profile-meta.xml
src/main/default/permissionsets/BotAdmin.permissionset-meta.xml
